.items{
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 0.5rem black;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.items:hover {
    box-shadow: 0 0 0.8rem black;
}

.items img {
    width: 50%;
    border-top-left-radius: auto;
    border-top-right-radius: auto;
}

.items div {
    padding: 0.8rem;
    text-align: center;
}

.items div h3 {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    list-style-type: none;
}

.items div p {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.stock{
    opacity: 40%;
    font-size:small ;
}