.titulo-principal {
    color: blue; 
    text-align: center;
    
}

.subtitulo {
    color: black;
    text-align: center;

}

.itemlist {
    text-decoration: none;
    color: black; 
    position: relative;
    top: -3rem;
}